<a href="https://colab.research.google.com/github/ardianrachman12/PemrogramanBerorientasiObjek/blob/main/Tugas1_dan_2_PBO_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

NAMA : MOHAMAD SYIFA ARDIAN RACHMAN

NIM : 12201780

PRODI : TI A2

TUGAS 1

1. Merapihkan kode

In [ ]:
System.out.println( "+------------------------+" );
System.out.println( "|                        |" );
System.out.println( "| SPBU 212               |" );
System.out.println( "|                        |" );
System.out.println( "| 2021-03-29 04:38PM     |" );
System.out.println( "|                        |" );
System.out.println( "| Bensin (L): 10         |" );
System.out.println( "| Harga/Liter: Rp 2.100  |" );
System.out.println( "|                        |" );
System.out.println( "| Harga total: R 21.000  |" );
System.out.println( "|                        |" );
System.out.println( "+------------------------+" );

hasilnya :

In [ ]:
+------------------------+
|                        |
| SPBU 212               |
|                        |
| 2021-03-29 04:38PM     |
|                        |
| Bensin (L): 10         |
| Harga/Liter: Rp 2.100  |
|                        |
| Harga total: R 21.000  |
|                        |
+------------------------+

2. Menambahkan nama pada struk

In [ ]:
System.out.println( "+------------------------+" );
System.out.println( "|                        |" );
System.out.println( "| SPBU 212               |" );
System.out.println( "|                        |" );
System.out.println( "| 2021-03-29 04:38PM     |" );
System.out.println( "|                        |" );
System.out.println( "| MOHAMAD SYIFA ARDIAN R |");
System.out.println( "| Bensin (L): 10         |" );
System.out.println( "| Harga/Liter: Rp 2.100  |" );
System.out.println( "|                        |" );
System.out.println( "| Harga total: R 21.000  |" );
System.out.println( "|                        |" );
System.out.println( "+------------------------+" );

hasilnya :

In [ ]:
+------------------------+
|                        |
| SPBU 212               |
|                        |
| 2021-03-29 04:38PM     |
|                        |
| MOHAMAD SYIFA ARDIAN R |
| Bensin (L): 10         |
| Harga/Liter: Rp 2.100  |
|                        |
| Harga total: R 21.000  |
|                        |
+------------------------+

3. Menambahkan statement "saya sedang belajar" "pemrograman java"

In [ ]:
System.out.println( "Saya sedang belajar" );
	 System.out.println( "Pemrograman java" );

hasilnya :

In [ ]:
Saya sedang belajar
Pemrograman java

SOAL UTS

1. Tambahkan 4 variabel dengan tipe integer, double, dan 2 string

In [ ]:
int A=2;
double B=233;
String C="badak",D="api";
        
System.out.println(A);
System.out.println(B);
System.out.println(C);
System.out.println(D);

hasilnya :

In [ ]:
2
233.0
badak
api

TUGAS 2

1. hasil eksekusi kode

In [ ]:
a is 10, b is 27
a+b is 37
a-b is -17
a+b*3 is 91
b/2 is 13
b%10 is 7

x is 1.1
x*x is 1.2100000000000002
b/2 is 13.0

doghouse

2. menambahkan statement

In [ ]:
int v = 3;
v = (7+8)%12;
System.out.println("v = "+v);

hasilnya :

In [ ]:
v = 3

SOAL UTS 

2. deklarasi isi dalam tabel

In [ ]:
int number=10;
char letter='a';
boolean result=true;
String str="Ardian";
  
System.out.println("Number = "+number);
System.out.println("letter = "+letter);
System.out.println("result = "+result);
System.out.println("str = "+str);

hasilnya :

In [ ]:
Number = 10
letter = a
result = true
str = Ardian

3. buat program

In [ ]:
int a,b,c,avg;
a=10;
b=20;
c=45;
avg = (a+b+c)/3;
System.out.println("Number 1 = "+a);
System.out.println("Number 2 = "+b);
System.out.println("Number 3 = "+c);
System.out.println("Rata-rata = "+avg);

hasilnya :

In [ ]:
Number 1 = 10
Number 2 = 20
Number 3 = 45
Rata-rata = 25